section {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

#articles {
	min-height: 80vh;
}

.card {
	width: 22rem;
	margin: 1rem;
}

img {
	max-height: 13rem;
	object-fit: cover;
}

#desc {
	min-height: 2rem;
}

.search,
.tri,
.categories,
.min,
.max {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.search input,
.tri select,
.categories select {
	width: 100%;
	height: 2.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 0.5rem;
}

.min input,
.max input {
	width: 10rem;
	height: 2.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 0.5rem;
}
