* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ecedee;
	min-height: 100vh;
}

header {
	min-height: 10vh;
	background-color: #96918b;
	display: flex;
	align-items: center;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.nav-link:hover {
	color: #96918b;
	background-color: white;
	border-radius: 5px;
}

footer {
	height: 10vh;
	background-color: #96918b;
	color: white;
}
