* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ecedee;
	min-height: 100vh;
}

footer {
	height: 10vh;
	background-color: #96918b;
	display: flex;
	align-items: center;
}
